<div class="container">
    <form [formGroup]="registrationForm" #formDirective="ngForm" (ngSubmit)="onSubmit(formDirective)">
  
      <div class="row">
        <mat-form-field appearance="fill">
          <mat-label>Organization Name</mat-label>
          <input matInput formControlName="user">
          <mat-icon matSuffix>account_circle</mat-icon>
          <mat-error *ngIf="registrationForm.controls['user'].invalid">Username must have min. length 5.</mat-error>
        </mat-form-field>
      </div>
  
      <div class="row">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email">
          <mat-icon matSuffix> alternate_email</mat-icon>
          <mat-error *ngIf="registrationForm.controls['email'].invalid">Not a valid email</mat-error>
        </mat-form-field>
      </div>
  
      <div class="row">
        <mat-form-field appearance="fill">
          <mat-label>Phone number</mat-label>
          <input matInput formControlName="phoneNr">
          <mat-icon matSuffix> call</mat-icon>
          <mat-error *ngIf="registrationForm.controls['phoneNr'].invalid">Not a valid phone number</mat-error>
        </mat-form-field>
      </div>
  
      <div class="row">
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input [type]="'password'" matInput formControlName="password">
          <mat-icon matSuffix> lock</mat-icon>
          <mat-error *ngIf="registrationForm.controls['password'].invalid">min. 8 characters, min. 1 uppercase and 1
            lowercase letter, min 1 number
          </mat-error>
        </mat-form-field>
      </div>
  
      <div class="row">
        <mat-form-field appearance="fill">
          <mat-label>Confirm password</mat-label>
          <input [type]="'password'" matInput formControlName="confirmationPassword">
          <mat-icon matSuffix> lock</mat-icon>
        </mat-form-field>
      </div>
  
      <div class="password-not-match"
           *ngIf="registrationForm.dirty && passwordFormControl.value !== confirmPasswordFormControl.value">
        Passwords do not match
      </div>

      <div class="row">
        <mat-form-field appearance="fill">
          <mat-label>Address</mat-label>
          <mat-icon matSuffix>location_on</mat-icon>
          <input matInput formControlName="address">
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field appearance="fill">
          <mat-label>Description</mat-label>
          <mat-icon matSuffix>description</mat-icon>
          <textarea matInput rows="4" formControlName="description"></textarea>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field appearance="fill">
          <mat-label>Website</mat-label>
          <mat-icon matSuffix>link</mat-icon>
          <input matInput formControlName="website">
        </mat-form-field>
      </div>

       <div class="row"> 
        <mat-form-field>

          <label class="org-image" for="img">Select a logo</label>
          <ngx-mat-file-input id="img" name="picture" (change)="uploadFile($event)" placeholder="Select a logo" accept=".jpeg,.jpg,.png">
            <mat-icon style="padding: 12px;" ngxMatFileInputIcon>folder</mat-icon>
          </ngx-mat-file-input>
        
        <!-- <input
          class="field pic-choose"
          type="file"
          id="img"
          accept="image/*"
          name="picture"
          (change)="uploadFile($event)"
        />  -->
      </mat-form-field>
      </div> 

      <div class="row">
        <mat-form-field appearance="fill">
          <mat-label>Domains</mat-label>
          <mat-icon matSuffix>workspaces</mat-icon>
          <mat-select class="domains" formControlName="domains" multiple>
            <mat-option *ngFor="let domain of domains" [value]="domain">{{ domain.domain_name}}</mat-option>
          </mat-select>
        </mat-form-field>
    </div>

      <div class="row">
        <button class="button" [disabled]="!registrationForm.valid" mat-raised-button mat-button color="primary"
                type="submit">
          Registration
        </button>
      </div>
      
    </form>
  </div>
  