<div class="container" >
  <h5>Create a new User account:</h5>
  <form [formGroup]="registrationForm" style="height:auto" #formDirective="ngForm" (ngSubmit)="onSubmit(formDirective)">
  <div class="2cols" style="display: flex;">
    <div class="col">
      <div class="row">
        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput formControlName="user">
          <mat-icon matSuffix>account_circle</mat-icon>
          <mat-error *ngIf="registrationForm.controls['user'].invalid">min. length 5.</mat-error>
        </mat-form-field>
      </div>
  
      <div class="row">
        <mat-form-field appearance="fill">
          <mat-label>Surname</mat-label>
          <input matInput formControlName="surname">
          <mat-icon matSuffix>account_circle</mat-icon>
          <mat-error *ngIf="registrationForm.controls['surname'].invalid">min. length 3. and capitalize 1. letter</mat-error>
        </mat-form-field>
      </div>      
      
      <div class="row">
        <mat-form-field appearance="fill">
          <mat-label>First name</mat-label>
          <input matInput formControlName="firstname">
          <mat-icon matSuffix>account_circle</mat-icon>
          <mat-error *ngIf="registrationForm.controls['firstname'].invalid">min. length 3. and capitalize 1. letter</mat-error>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email">
          <mat-icon matSuffix> alternate_email</mat-icon>
          <mat-error *ngIf="registrationForm.controls['email'].invalid">Not a valid email</mat-error>
        </mat-form-field>
      </div>
  
  
      <div class="row">
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input [type]="'password'" matInput formControlName="password">
          <mat-icon matSuffix> lock</mat-icon>
          <mat-error *ngIf="registrationForm.controls['password'].invalid">min. 8 length and min. 1 number</mat-error>
        </mat-form-field>
      </div>
  
      <div class="row">
        <mat-form-field appearance="fill">
          <mat-label>Confirm password</mat-label>
          <input [type]="'password'" matInput formControlName="confirmationPassword">
          <mat-icon matSuffix> lock</mat-icon>
        </mat-form-field>
      </div>
  
      <div class="row">
        <section  class="volunteered">
            <mat-checkbox matInput formControlName="volunteered">Volunteered</mat-checkbox>
        </section>
      </div>

      <div class="password-not-match"
      *ngIf="registrationForm.controls['password'].dirty && registrationForm.controls['confirmationPassword'].dirty  
      && passwordFormControl.value !== confirmPasswordFormControl.value">
        Passwords do not match
      </div>
    </div>
    <div>
      <div class="row">
        <mat-form-field appearance="fill">
          <mat-label>Phone number</mat-label>
          <input matInput formControlName="phoneNr">
          <mat-icon matSuffix> call</mat-icon>
          <mat-error *ngIf="registrationForm.controls['phoneNr'].invalid">Not a valid phone number</mat-error>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field appearance="fill">
          <mat-label>Age</mat-label>
          <mat-icon matSuffix>fingerprint</mat-icon>
          <input matInput formControlName="age">
          <mat-error *ngIf="registrationForm.controls['age'].invalid">min. 14 years</mat-error>
        </mat-form-field>
      </div> 

      <div class="row">
        <mat-form-field appearance="fill">
          <mat-label>Gender</mat-label>
          <mat-icon matSuffix>account_circle</mat-icon>
          <mat-select matInput formControlName="gender">
            <mat-option value="MALE">Male</mat-option>
            <mat-option value="FEMALE">Female</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field appearance="fill">
          <mat-label>Domains</mat-label>
          <mat-icon matSuffix>workspaces</mat-icon>
          <mat-select class="domains" formControlName="domains" multiple>
            <mat-option *ngFor="let domain of domains" [value]="domain">{{ domain.domain_name}}</mat-option>
          </mat-select>
        </mat-form-field>
    </div>

    
    <div class="row">
      <mat-form-field appearance="fill">
        <mat-label>About you</mat-label>
        <mat-icon matSuffix>description</mat-icon>
        <textarea matInput  rows="5" formControlName="description"></textarea>
      </mat-form-field>
    </div>

      <div class="row">
        <button mat-raised-button class="submitButton" [disabled]="!registrationForm.valid"
                type="submit">
          Submit
        </button>
      </div>
    </div>
  </div>
    </form>
  </div>
  