.container {
    margin: 15% 35%;    
    background-color: rgb(9, 32, 5);
    width: 100%;
    height: 100%;
    position:fixed;
    padding:0;
    margin:0;
    overflow-y: scroll;
    top:0;
    left:0;
}

.card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 1200px;
    max-width: 100%;
    min-height: 600px;
    margin-top: 5%;
    margin-left: 10%;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    margin-left:15%;
}

.volunteer-container {
    left: 0;
    width: 50%;
    z-index: 2;
    margin-left: 47%;

}

.org-container {
    margin-left: 47%;
    left: 0;
    width: 50%;
    z-index: 1;
}

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}

form {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

.overlay-panel {
   background: url(../../../../../assets/journey.jpg) top center /cover no-repeat;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
        
    .website{
        margin-bottom: 0;
        margin-top: 55%;
        font-size: 10px;
    }


    .title{
        margin-top: 30%;
        margin-bottom: 5%;
    }

}