.container {
    margin: 15% 35%;
    background-color: rgb(9, 32, 5);
    width: 100%;
    height: 100%;
    position:fixed;
    padding:0;
    margin:0;
    overflow-y: scroll;
    top:0;
    left:0;
}


.bothParts {
    display: flex;
    justify-content: space-between;  
}

.mat-mdc-card-content:first-child {
    padding-top: 0;
}

.card {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    margin-top: 8%;
    margin-left: 20%;
    width: 60%;
    height: 70%;
}

.logo {
    margin-left: 25%;
}

.loginPart {
    margin-top: 2%;
    margin-left: 10%;
}

.submitButton {
    width: 100%;
    /* background-color: darkgreen; */
}

.imgPart {
    padding-left: 2%;
    background: url("../../../../../assets/loginPlants.jpg") top center /cover no-repeat;
    margin-left:51%;
    top:0;
    left:0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    border-radius: 1%;
}

.imgPart>img {
    
    margin-left: 11.5%;
}