
<div class="options" style="margin-top: 10%; float: left;">
    <mat-list role="list">
        <mat-list-item style="margin-top: 3%;" role="listitem" *ngFor="let tab of tabs" >
            <a mat-button *ngIf="tab.name != 'Account' && tab.name != undefined" 
            style="display: flex;" [routerLink]='["/profile", tab.name]'>
                <mat-icon>{{tab.icon}}</mat-icon>
                <span>{{tab.name}}</span>
            </a>
            <a mat-button *ngIf="(tab.name == 'Account' || tab.name == undefined) && logedin_user_role != 'ADMIN'" 
            style="display: flex;" [routerLink]='["/profile", tab.name, logedin_user_name]'>
                <mat-icon>{{tab.icon}}</mat-icon>
                <span>{{tab.name}}</span>
            </a>
        </mat-list-item>
    </mat-list>
</div>

<div style=" margin-left: 15%; ">
    <div *ngIf="tab != 'Account' && tab != undefined">
        <app-projects-page></app-projects-page>
    </div>
    <div *ngIf="tab == 'Account' || tab == undefined">
        <!-- <app-org-set *ngIf="logedin_user_role != 'USER'" ></app-org-set> -->
        <!-- <div *ngIf="logedin_user_role == 'USER'" > -->
            <app-volunteer-set></app-volunteer-set>
        <!-- </div> -->
        <!-- <div style="background-color: brown; width: 500px;"></div> -->
    </div>
</div>
