
<div class="options" style="margin-top: 10%; float: left;">
    <mat-list role="list">
        <mat-list-item style="margin-top: 3%;" role="listitem" *ngFor="let tab of tabs" >
            <a mat-button style="display: flex;" [routerLink]='["/profile", tab.name]'>
                <mat-icon>{{tab.icon}}</mat-icon>
                <span>{{tab.name}}</span>
            </a>
        </mat-list-item>
    </mat-list>
</div>


<div style=" margin-left: 15%; ">
    <app-projects-page></app-projects-page>
</div>
