<mat-card>
    <mat-card-title-group style="padding: 5%;">
        <mat-card-title class="project_name">{{project.project_name}}</mat-card-title>
        <mat-card-subtitle *ngIf="project.owner.role == 'ORGANIZATION'" class="project_creator_name">
            <a [routerLink] = '["/org", project.owner.user]'>{{project.owner.user}}</a></mat-card-subtitle>
        <mat-card-subtitle *ngIf="project.owner.role != 'ORGANIZATION'" class="project_creator_name">{{project.owner.user}}</mat-card-subtitle>

    </mat-card-title-group>

    <div>
        <img class="proj_image" style="width: 250px; height: 200px;" src="{{project.project_img}}" >
    </div>

    <div class="domain_imgs">
        <div class="domain_img" *ngFor="let domain of project.domains">
            <button mat-fab class="domain_button" matTooltip="{{domain.domain_name}}"
            [routerLink] = '["/projects", domain.domain_name]'><img style="width: 80px; height: 80px;" src="{{domain.domain_img}}" ></button>
        </div> 
    </div>
</mat-card>