.header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 55px;
    justify-content: space-between;
    align-items: center; 
    flex: 1;
    justify-content: center;
  }
  
  .button {
    background-color: transparent;
    color: #423e37;
    border: none;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    line-height: 35px;
    /* margin-left:50px; */
    /* margin-right: 30px; */
  }

  
  a {
    color: #ebe8cd;
    text-decoration: none;
  }
  
  a:hover {
    color: #bcd2a3;

  }

.searchbar-form {
  color: #ebe8cd;
  flex: .75;
  width: 200px;
}

.searchbar {
  width: 50%;
  display: flex;
  /* margin-left: 3%; */
}

.icon-button:hover, .searchButton:hover {
  color: #e8f5e8;
}

.searchButton {
  color: inherit;
}

.searchbar-div {
  display: flex;
  outline-color: #ebe8cd;
}

.searchbar-field {
  opacity: 0;
  display: flex;
}

.openSearchButton, .buttonOut{
  /* margin-top: 2%; */
  color:  #ebe8cd;
}

input{
  color: #ebe8cd;
}

.logo{
  /* margin-left: 10%; */
  /* margin-right: 15%; */
}