<nav>
    <div class="header" >
  
      <!-- <form class="searchbar-form">
        <mat-form-field class="searchbar" appearance="outline">
          <div class="searchbar-div">
            <input placeholder="Product Name" type="text" #nameProduct name="nameProduct" matInput
                   [formControl]="myControl" [matAutocomplete]="auto"/>
            <button color="primary" class="searchButton" mat-icon-button (click)="clickedFn()">
              <mat-icon>search</mat-icon>
            </button>
  
          </div>
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
  
        </mat-form-field>
        style="display: flex; align-items: center; flex: 1;justify-content: flex-end"
      </form> -->
  
      <div >
        <button class="button" *ngIf="logedin" (click)="logout()"><a routerLink="/login">Logout</a>
        </button>
  
        <button class="button" *ngIf="!logedin"><a routerLink="/login">Login</a>
        </button>
  
        <button class="button" *ngIf="!logedin"><a routerLink="/registration/user"> New user</a>
        </button>

        <button class="button" *ngIf="!logedin"><a routerLink="/registration/org"> New org</a>
        </button>

        <button class="button" *ngIf="logedin"><a routerLink="/save/project"> New project</a>
        </button>

        <button class="button" *ngIf="logedin && logedin_user_role === 'ADMIN'"><a routerLink="/save/domain"> New domain</a>
        </button>

        <button class="button"><a routerLink="/projects"> Projects</a></button>

        <button class="button"><a routerLink="/orgs"> Organizations</a></button>

        <button class="button" *ngIf="logedin" ><a [routerLink]='["/profile/Account", logedin_user_name]'> Profile</a></button>
      </div>
  
    </div>
  </nav>