<div class="container">
    <form [formGroup]="registrationForm" #formDirective="ngForm" (ngSubmit)="onSubmit(formDirective)">
  
      <div class="row">
        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput formControlName="user">
          <mat-icon matSuffix>account_circle</mat-icon>
          <mat-error *ngIf="registrationForm.controls['user'].invalid">Username must have min. length 5.</mat-error>
        </mat-form-field>
      </div>
  
      <div class="row">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email">
          <mat-icon matSuffix> alternate_email</mat-icon>
          <mat-error *ngIf="registrationForm.controls['email'].invalid">Not a valid email</mat-error>
        </mat-form-field>
      </div>
  
      <div class="row">
        <mat-form-field appearance="fill">
          <mat-label>Phone number</mat-label>
          <input matInput formControlName="phoneNr">
          <mat-icon matSuffix> call</mat-icon>
          <mat-error *ngIf="registrationForm.controls['phoneNr'].invalid">Not a valid phone number</mat-error>
        </mat-form-field>
      </div>
  
      <div class="row">
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input [type]="'password'" matInput formControlName="password">
          <mat-icon matSuffix> lock</mat-icon>
          <mat-error *ngIf="registrationForm.controls['password'].invalid">min. 8 characters, min. 1 uppercase and 1
            lowercase letter, min 1 number
          </mat-error>
        </mat-form-field>
      </div>
  
      <div class="row">
        <mat-form-field appearance="fill">
          <mat-label>Confirm password</mat-label>
          <input [type]="'password'" matInput formControlName="confirmationPassword">
          <mat-icon matSuffix> lock</mat-icon>
        </mat-form-field>
      </div>
  
      <div class="password-not-match"
           *ngIf="registrationForm.dirty && passwordFormControl.value !== confirmPasswordFormControl.value">
        Passwords do not match
      </div>

      <div class="row">
        <mat-form-field appearance="fill">
          <mat-label>Age</mat-label>
          <mat-icon matSuffix>account_circle</mat-icon>
          <input matInput formControlName="age">
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field appearance="fill">
          <mat-label>Description</mat-label>
          <mat-icon matSuffix>account_circle</mat-icon>
          <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
      </div>

      <div class="row">
        <section  class="volunteered">
            <mat-checkbox matInput formControlName="volunteered">Volunteered</mat-checkbox>
        </section>
      </div>

      <div class="row">
        <button class="button" [disabled]="!registrationForm.valid" mat-raised-button mat-button color="primary"
                type="submit">
          Registration
        </button>
      </div>
  
      <div class="row">
        <mat-form-field appearance="fill">
          <mat-label>Gender</mat-label>
          <mat-icon matSuffix>account_circle</mat-icon>
          <mat-select matInput formControlName="gender">
            <mat-option value="MALE">Male</mat-option>
            <mat-option value="FEMALE">Female</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      
    </form>
  </div>
  