<h4 style="margin-top: 7%; color: #ebe8cd;">{{tab}}</h4>

<mat-grid-list cols="3" style="margin-top:3%; margin-left: 1%; " rowHeight="1:1" >
    <mat-grid-tile  *ngFor="let project of projects">
        <mat-card style="height: 130%;" >
            <div class="imgDiv">
                <button class="delete" mat-fab (click)="clickDelete(project.project_name)" 
                color="warn"  *ngIf="tab == 'Own projects'" >
                    <mat-icon>delete</mat-icon></button>
                <img class="image" style="width: 350px; height: 300px;" src="{{project.project_img}}" >
            </div>
            
            <mat-card-title-group  style=" margin-left: 28%;">
                <mat-card-title class="project_name">{{project.project_name}}</mat-card-title>
                <!-- <mat-card-subtitle style="margin-left: 20%;" *ngIf="project.owner.role == 'ORGANIZATION'" class="project_creator_name"><a   
                    [routerLink] = '["/org", project.owner.user]'>{{project.owner.user}}</a></mat-card-subtitle>
                <mat-card-subtitle style="margin-left: 20%;" *ngIf="project.owner.role != 'ORGANIZATION'" class="project_creator_name">{{project.owner.user}}</mat-card-subtitle>     -->
                <!-- <mat-card-subtitle class="project_creator_name">{{project.project_img}}</mat-card-subtitle> -->
              </mat-card-title-group>

            <div class="domain_imgs">    
                <div class="domain_img" *ngFor="let domain of project.domains">
                    <button mat-fab class="domain_button"  matTooltip="{{domain.domain_name}}"><img style="width: 60px; height: 60px;" src="{{domain.domain_img}}" ></button>
                </div> 
            </div>
                
            <div id = "button" >
                <div style="margin-left: 35%; margin-top: 2%;">
                    <button mat-raised-button [routerLink] = '["/project", project.project_name]' >Details</button>
                </div>

                <div style="margin-left: 23%;" *ngIf="tab == 'Own projects'">
                    <button mat-fab (click)="openModifyPopUp(project)" color="warn">
                        <mat-icon>mode_edit</mat-icon></button>
                </div>

                
            </div>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
