<div style="margin-top:5%;" class="project_time_type">
    <button mat-button (click)="changeProjects(true)">PAST Projects</button>
    <button mat-button  (click)="changeProjects(false)">CURRENT Projects</button>
    <h3 style="font-family: Arial;" *ngIf="!params_domain" >Total projects: {{projects.length}}</h3>
    <h3 style="font-family: Arial;" *ngIf="params_domain" >Total projects related to {{params_domain}}: {{projects.length}}</h3>

</div>

<div class="sortAndEdit" style="margin-left: 85%;">
  <button mat-button [matMenuTriggerFor]="menu">Sort:</button>
  <mat-menu class="sort" #menu="matMenu">
    <!-- TO DO: when favourites exist -> sort by favourite count -->
    <button mat-menu-item (click)="sortProduct('-', 'fav')">Most popular</button>
    <button mat-menu-item (click)="sortProduct('+', 'creation')">Newest </button>
    <button mat-menu-item (click)="sortProduct('+', 'name')">Ascending by Name</button>
    <button mat-menu-item (click)="sortProduct('-', 'name')">Descending by Name</button>
    <button mat-menu-item (click)="sortProduct('-', 'expiration')">Descending by expiration date</button>
    <button mat-menu-item (click)="sortProduct('+', 'expiration')">Ascending by expiration date</button>
    <button mat-menu-item (click)="sortProduct('-', 'expiration')">Descending by expiration date</button>
  </mat-menu>

</div>

<!--  *ngIf="logedin_user_role == 'ADMIN'" -->
<mat-card style="float: left; width: 15%; margin-left: 2%;">   
    <mat-card-title style="margin: 5%;" class="domain_filter_h">Select an owner type:</mat-card-title>
    <mat-card-content >      
      <section style="width: 13%; " class="example-section">
        <mat-checkbox *ngFor="let role of roles" (change)="filterByOwner($event)" value="{{role}}">{{role}}</mat-checkbox>
      </section>
    </mat-card-content>
    
    <mat-card-title style="margin: 5%;" class="domain_filter_h">Select a domain:</mat-card-title>
    <mat-card-content style=" overflow-y: scroll; height: 250px; ">      
      <section style="width: 13%;" class="example-section">
        <mat-checkbox *ngFor="let domain of domains" (change)="filterByDomain($event)" value="{{domain.domain_name}}">{{domain.domain_name}}</mat-checkbox>
      </section>
    </mat-card-content>

    <mat-card-title style="margin: 5%;" class="domain_filter_h">Select organizations:</mat-card-title>
    <mat-card-content style=" overflow-y: scroll; height: 250px; ">      
      <section style="width: 13%;" class="example-section">
        <mat-checkbox *ngFor="let org of orgs" (change)="filterByOrgs($event)" value="{{org.user}}">{{org.user}}</mat-checkbox>
      </section>
    </mat-card-content>

  </mat-card>

<mat-grid-list cols="3" style="margin-top:5%; margin-left: 15%; " >
    <mat-grid-tile  *ngFor="let project of projects">
        <mat-card style="padding: 10%;"  >
            <mat-card-title-group style="padding: 5%;">
                <mat-card-title class="project_name">{{project.project_name}}</mat-card-title>
                <mat-card-subtitle *ngIf="project.owner.role == 'ORGANIZATION'" class="project_creator_name"><a   
                    [routerLink] = '["/org", project.owner.user]'>{{project.owner.user}}</a></mat-card-subtitle>
                <mat-card-subtitle *ngIf="project.owner.role != 'ORGANIZATION'" class="project_creator_name">{{project.owner.user}}</mat-card-subtitle>    
                <!-- <mat-card-subtitle class="project_creator_name">{{project.project_img}}</mat-card-subtitle> -->
            </mat-card-title-group>
                <div>
                    <img class="image" style="width: 250px; height: 200px;" src="{{project.project_img}}" >
                </div><!--  onerror="this.src='https://www.inkling.com/wp-content/uploads/2021/06/SD-default-image.png'" -->
                <mat-card-content class="project_description" *ngFor="let domain of project.domains">{{domain.domain_name}}</mat-card-content>

                
            <!-- <div *ngFor="let domain of project.domains">
                <img class="image" style="width: 250px; height: 200px;" src="{{domain.domain_img}}" >

            </div> -->
            <div id = "button" >
                <mat-card-actions>
                    <button mat-button [routerLink] = '["/project", project.project_name]' >Details</button>
                </mat-card-actions>

                <mat-card-actions>
                    <button mat-button *ngIf="logedin_user_role === 'ADMIN' || logedin_user_projects.includes(project.project_name)" 
                        (click)="clickDelete(project.project_name)" >
                        <mat-icon>delete</mat-icon></button>
                </mat-card-actions>
            </div>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
